.fetcher-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: wait;
  z-index: 9000;

  visibility: hidden;
}

.fetcher-wrapper .fetcher-error {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fetcher-error > .message {
  font-weight: bold;
  margin-bottom: 0.5em;
  background: #ffffffc4;
  padding: 0.5em;
  box-shadow: 0 8px 12px rgba(60, 90, 120, 0.1);
  border-radius: 0.5em;
}

.progress-wrapper {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.progress-wrapper .bar {
  z-index: 1031;
  width: 0%;
  height: 2px;
  position: relative;
  transition: all 200ms ease 0s;
}

.progress-wrapper .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.placeholder-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9000;
}

@keyframes placeholder-anim {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  }
}
