.fetcher-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  cursor: wait;
  z-index: 9000;

  visibility: hidden;
}

.fetcher-wrapper .fetcher-error {
  display: flex;
  flex-direction: column;
  align-items: center;
}
